 <% layout('layouts/boilerPlate') %>
 
    <div class="row m-2">
        <div class="col-md-6 offset-md-3">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="text-center mb-2">Edit <%= fwallet.name %></h2>  
                <form class="validation-form" novalidate action="/wallets/<%= fwallet._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="form-group mb-2">
                        <label for="nameID" class="form-label"><b>Wallet Name</b></label>
                        <input class="form-control" id="nameID" type="text" name="data[name]" value="<%= fwallet.name %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="locationID" class="form-label"><b>Location</b></label>
                        <input class="form-control" id="locationID" type="text" name="data[location]" value="<%= fwallet.location %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="priceID" class="form-label"><b>Price</b></label>
                        <input class="form-control" id="priceID" type="text" name="data[price]" value="<%= fwallet.price %>" min="0.01" step="0.01" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>       
                    <div class="form-group mb-2">
                        <label for="descriptionID" class="form-label"><b>Description</b></label>
                        <textarea class="form-control" id="descriptionID" name="data[description]" cols="21" rows="3" required><%= fwallet.description %></textarea> 
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>       
                    <div class="form-group mb-4">
                        <label for="" class="form-label"><b>Add More Images</b></label>
                        <div class="input-group custom-file">
                            <input class="form-control" type="file" id="imageID" name="img" multiple> 
                            <label for="imageID" class="input-group-text">
                                <span class="custom-file-label"></span> 
                            </label> 
                        </div> 
                    </div> 
                    <div class="form-group mb-2">
                        <% fwallet.images.forEach((img, i) => { %>
                            <img width="100" src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                            <div class="form-check-inline">
                                <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%= img.filename %>">
                                <label for="image-<%=i%>">Delete?</label>
                            </div>
                        <% }) %>
                    </div> 
                    <div class="form-group mt-3 mb-2">
                        <button class="btn btn-success">Update</button>
                    </div>           
                    <a href="/wallets/<%= fwallet._id %>">Go Back</a>
                </form> 
            </div>
        </div>  
    </div>     
</div>


 