<% layout('layouts/boilerPlate') %>
 
    <div class="p-4 mb-3 text-white rounded" style="background-color: #212529;">
      <h2>Welcome to Hello Wallets</h2>
      <p>View our wallets collections all over the world</p>
      <div>
          <a class="btn btn-sm btn-secondary" href="/wallets/new">Add New Wallet</a>
      </div>   
    </div>
    
    <% data.forEach((camp) => {  %>
    <div class="card mb-3">
        <div class="row">
          <div class="col-md-3">  
            <% if(camp.images.length) { %>
              <img src="<%= camp.images[0].url %>" class="img-fluid" alt="wallet"> 
            <% }else { %>
              <img src="https://res.cloudinary.com/dnypt5b7x/image/upload/v1680435731/HelloWallet/o5noofa1d6lmdh3fhhpa.jpg" class="img-fluid" alt="wallet"> 
            <% } %>
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title"><%=camp.name%></h5>
              <p class="card-text"><%=camp.description%></p>
              <p class="card-text">
                <small class="text-muted"><%=camp.location%></small>
              </p>
              <a href="/wallets/<%= camp._id %>" class="btn btn-sm btn-primary">More Info</a>
            </div>
          </div>
        </div>
    </div>
    <%})%>

    <div class="mt-4 mb-4">
        <a href="/">Back to Home</a>
    </div>
     

 