 <% layout('layouts/boilerPlate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">

 <div class="row mt-3">
    <div class="col-6">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <% found.images.forEach((img, i) => { %>
                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                      <img src="<%= img.url %>" class="d-block w-100" alt="wallet">
                    </div> 
                <% }) %> 
            </div>
            <% if(found.images.length > 1) {%>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            <% } %>
        </div>
        <div class="card mb-3"> 
            <div class="card-body">
              <h5 class="card-title"><%= found.name %></h5>
              <p class="card-text"><%= found.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= found.location %></li>
              <li class="list-group-item">$<%= found.price %></li> 
              <li class="list-group-item"><em>Submitted By: <b><%= found.author.username.toUpperCase()%></b></em></li> 
            </ul>
            <% if(currentUser && found.author.id.equals(currentUser._id)){ %>
                <div class="card-body">
                    <a class="btn btn-sm btn-warning" href="/wallets/<%=found._id%>/edit">Edit</a>
                    <form class="d-inline" id="delete-form" action="/wallets/<%=found._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            <% } %> 
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
    <div class="col-6"> 
            <div class="text-right mb-2">
                <a class="btn btn-success" href="/wallets/<%= found._id %>/comments/new">Leave Review</a>
            </div> 
            <% found.comments.forEach(function(comnt){ %>
                <div class="card mb-3">
                 <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p class="card-title m-0"><%=comnt.author.username.toUpperCase()%></p>
                            <span class="pull-right">10 days ago</span>
                        </div> 
                        <p class="starability-result mt-1 mb-1" data-rating="<%= comnt.rating %>">
                            Rated: <%= comnt.rating %> stars
                        </p> 
                        <div class="mt-1"> 
                            <p class="card-text mb-1"><b>Review:</b> <%= comnt.text %></p>
                            <% if(currentUser && comnt.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-sm btn-warning" href="/wallets/<%=found._id%>/comments/<%=comnt._id%>/edit">Edit</a>
                                <form class="d-inline" id="delete-form" action="/wallets/<%=found._id%>/comments/<%=comnt._id%>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                </form> 
                            <% } %> 
                        </div>
                </div>
            </div>
            <% }) %> 
    </div>
 </div>



<!-- <div class="container mb-3">
    <div class="row"> 
        
    </div>
</div> -->



 